ul .header-link:hover  {
    color: #ff5252;
}
.MuiBadge-badge {
   background-color: #ff5252 !important;
}
.navigation-link:hover {
    color: #ff5252;
}
.link:hover{
    color: #ff5252;
}
.isActive{
    background-color: rgb(208, 208, 26) !important;
}
.fashion-nav li Button {
    text-transform: capitalize !important;
}




/* Home Top Slider Section */
.swiper-button-prev {
    background-color: transparent;
    margin-left: 20px !important;
    border-radius: 50%;
    padding: 10px;
    color: #000 !important;
}
.swiper-button-prev:hover {
    background-color: #ff5252;
    border-radius: 50%;
    padding: 10px;
    color: #fff !important;
}
.swiper-button-next {
    background-color: transparent;
    margin-right: 20px !important;
    border-radius: 50%;
    padding: 10px;
    color: #000 !important;
}
.swiper-button-next:hover {
    background-color: #ff5252;
    border-radius: 50%;
    padding: 10px;
    color: #fff !important;
}
.mySwiper {
    overflow: inherit !important;
}