ul .header-link:hover  {
    color: #ff5252;
}

.MuiBadge-badge {
   background-color: #ff5252 !important;
}

.navigation-link:hover {
    color: #ff5252;
}

.link:hover{
    color: #ff5252;
}

.isActive{
    background-color: rgb(208, 208, 26) !important;
}


.fashion-nav li Button {
    text-transform: capitalize !important;
}