@import "tailwindcss";

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #f5f0f0;
}

.container {
    width: 90%;
    margin: auto;
}